@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

.top-bar {
    width: 100%;
    height: 81px;
    background-color: rgba(255, 255, 255, 0.69);
    border-bottom: 1px solid #979797;
}

/* 좌측상단 로고 부분 - 이미지로 처리 */
.top-bar img {
    height: 60px;
    object-fit: contain;
    float: left;
    display: inline;
}


/* 우측상단 '로그아웃' 부분 */
.top-bar p  {
    width: 54px;
    height: 36px;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: -0.5px;
    color: #3b3b3b;
    float: right;
    position: relative;
    right: 30px;
}

/* 웹프로그래밍 개론~회의록 버튼 있는 부분 box */
.nav-bar {
    width: 100%;
    height: 69px;
    background-color: rgba(255, 255, 255, 0.69);
}

/* '웹프로그래밍 개론' 들어있는 박스 */
.course {
    width: 14%;
    height: 42px;
    position: relative;
    left: 70px;
    border: solid 0.5px #979797;
    background-color: #ffffff;
    text-align: center;
    border-top: none;
    display: inline-block;
}

/* '웹프로그래밍 개론' 텍스트 부분 */
.course p {
    width: 146px;
    height: 29px;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    color: #000000;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: relative;
    top: 1px;
    left: 8px;
}

.banners {
    position: relative;
    float: right;
    margin-right: 180px;
}

.banners a {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}

.banners a:visited {
    text-decoration: none;
    color: #000000;
}

/* '팀원 관리' 텍스트 부분 */
#teammate {
    width: 75px;
    height: 29px;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    color: #000000;
}

/* '시간표 관리' 텍스트 부분 */
#schedule {
    width: 93px;
    height: 29px;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    color: #000000;
}

/* '회의록' 텍스트 부분 */
#minutes {
    width: 54px;
    height: 29px;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    color: #000000;
}
